.ant-layout {
  height: 97vh;
}
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

.logo2 {
  width: 100%;
  color: #fff;
  padding: 10px;
}

.ant-menu-title-content {
  font-size: 16px;
}
main {
  overflow-y: scroll;
}
