.new-password-page {
  font-family: "Core Sans C", sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;

  .new-left {
    width: 50%;
    height: 100%;
    border: 1.5px solid #0cff71;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .new-right {
    width: 50%;
    height: 100%;
    padding: 50px 50px;
    border: 1px solid green;

    .new-text {
      h1 {
        margin-bottom: 10px;
      }
      p {
        opacity: 0.8;
        line-height: 1.5;
        color: #666666cc;
        font-size: 16px;
        margin-bottom: 15px;
      }
    }

    .new-form {
      width: 100%;
    }
  }
}
